@font-face {
    font-family: 'Montserrat', 'Fraunces';
    font-display: swap;
    font-weight: 100 700;
    src: url('https: //fonts.google.com/specimen/Montserrat'), ('https: //fonts.google.com/specimen/Fraunces');
}

:root { 
    --Dark-cyan: hsl(158, 36%, 37%);
    --dark-cyan: hsl(158, 36%, 20%);
    --Cream: hsl(30, 38%, 92%);

    --Very-dark : hsl(212, 21%, 14%);
    --Dark-grayish : hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);

    --ff-accent: 'Fraunces',serif;
    --ff-base: 'Montserat', sans-serif;

    --fw-regular: 500;
    --fw-bold: 700;
}

*, 
*::before,
*::after {
    box-sizing: border-box;
}
svg, 
img {
    width: 100%;
    display: block;
}
 
body {
    font-family: var(--ff-base);
    font-style: 14px;
    font-weight: var(--fw-regular);
    font-size: 0.875rem;
    background-color: var(--Cream);
    display: grid;
    place-content: center;
    line-height: 1.7rem;
    margin: 1rem;
    min-height: 100vh;
}
.card-container {
     --content-padding: 1.5rem;
     --content-spacing: 1rem;
    background-color: var(--White);
    border-radius: .5em;
    overflow: hidden;
    display: grid;
    max-width: 600px;
}

@media (min-width: 650px) {
    .card-container{
        grid-template-columns: 1fr 1fr;
    }
    .image {
        object-fit: cover;
    }
}
.description {
    padding: var(--content-padding);
    display: grid;
    /* gap: var(--content-spacing); */
}
.heading {
    text-transform: uppercase;
    font-size: .8125rem;
    letter-spacing: .2em;
    color: var(--Dark-grayish);
}
.title {
    font-size: 2rem;
    font-family: var(--ff-accent);
    margin: 0;
    color: var(--Very-dark);
}
.price__group{
    color: var(--Dark-grayish);
    display: flex;
    /* justify-content: start; */
    align-items: center;
}

.product__price  {
    font-size: 2.5rem;
    color: var(--Dark-cyan);
    font-family: var(--ff-accent);
    font-weight: var(--fw-bold);
}
.product__original-price{
    color: var(--Dark-grayish);
    text-decoration: line-through;
    margin-left: 2rem;
    display: inline-flex;
}
.price__group {
    display: flex;
    gap: var(--content-spacing);
}

.visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
.btn {
    padding: 1rem;
    background-color: var(--Dark-cyan);
    color: var(--White);
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: .5em;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
}

.btn[data-icon='shopping-cart']::before {
    content: '';
    height: 16px;
    width: 15px;
    background-image: url('images/icon-cart.svg');
}
.btn:is(:hover, :focus) {
    background-color:var(--dark-cyan) ;
}

  